{% extends "base.html" %}
{% block content %}
<style>
input[type = submit]{
border:2px solid transparent;
background: #696969;
color:white;
font-size:13px;
line-height:15px;
padding:5px 0;
border-radius:2px;
width:60px;
}
p {
	font-family: 'Oswald', sans-serif;
	font-size: 155%;
	color: #2F4F4F	;

}
h1 {
	font-family: 'Oswald', sans-serif;
	color: #FFDAB9 ;
  text-shadow: 2px 2px #556B2F;
  font-size: 300%;
}
a {
  color: #DB7093;
  font-size: 120%;
}

th {
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
  color: #2F4F4F  ;
}

td {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  color: black;
}
.button{
border:2px solid transparent;
background:firebrick;
color:white;
font-size:16px;
width:60px;
line-height:10px;
padding:5px 0;
border-radius:3px;
}
.w3-btn{
border:2px solid transparent;
background:firebrick;
color:white;
font-size:16px;
width:80px;
line-height:10px;
padding:5px 0;
border-radius:3px;
}
.home-base {
  margin-top: 100px;
  height: 350px;
  max-width: 100%;
  position: relative;
  z-index: 2;
  margin-left: 0;
  margin-right: 0;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  /*z-index: 100;*/
	/*background-color: gray;*/
	/*opacity: 0.99;*/
	background-image: url({{ url_for('static', filename='img/cover2.jpg') }});
  
	/*min-height: calc(100vh - 70px);*/
}

/*.image_container {
    min-height: calc(100vh - 70px);
    background-image: url({{ url_for('static', filename='img/cover.jpg') }});
}*/

/**{
box-sizing:border-box;
}
form{
width:100%;
margin-top:200px;
}
input[type=text]{
width:80%;
padding:15px;
border:5px solid;
border-color:gainsboro;
font-size:18px;
font-family:sans-serif;
border-radius:5px 5px 5px 5px;
}
input[type=submit]{
padding:25px;
width: 11%;
height: 8.5%;
border:5px solid;
border-color:gray;
font-size:18px;
font-family:sans-serif;
background:gray;
color:white;
border-radius: 5px 5px 5px 5px;
cursor:pointer;
position:absolute;
}
@media screen and (max-width:600px){
    form{
        margin:0;
    }
    input[type=text]{
        width:100%;
        border-radius:5px;
        padding:10px;
    }
    input[type=submit][
        border-radius:5px;
        width:100%;
        position:static;
        margin-top;5px;
        padding:10px;
     }
}
*/


</style>
<div class="home-base">
  </br>
  </br>
  </br>
     <center><h1>Find the lyrics of a song with Music Lyric Finder</h1>
  </br>
  </br>
  </br>	
  </br>
  </br>

      <p>You can also browse the song directory of over 100 songs</p>
      <p>Artists Directory helps you find the songs of your favorite artists</p></center>
</div>   
<div class="song_container">
    <br/><br/>
    <center>
    <table class="table table-striped">
        <tr>
            <th>Song:</th>
            <th>Released:</th>
            
        </tr>
        {% for data in songs %}
            <tr>
                <td><a href="{{ url_for('lyrics', song_id=data.id, song_title=data.title) }}">{{ data.title }}</a></td>
                <td>{{ data.released }}</td>
            </tr>
        {% endfor %}
    </table>
    </center>
</div>
{% endblock %}